.header__title {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #33B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.header__controls {
    display: flex;
    justify-content: space-around;
    width: max-content;
    margin: 0 auto;
}

.header__button {
    padding: 11px 17px;
    width: 200px;
    background: rgb(245,209,185);
    background: linear-gradient(337deg, rgba(245,209,185,1) 13%, rgba(245,36,9,0.40129555240064774) 87%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}